@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
	background-image: url('/src/Assets/HomePage/hero-bg.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}

.about-bg {
	position: relative;
}

.about-bg:before {
	content: '';
	position: absolute;
	bottom: 15px;
	right: 0;
	width: 668px;
	height: 294px;
	background: linear-gradient(90deg, #15ddad 48.21%, #7cf7a6 100%);
	border-radius: 33px;
	z-index: -1;
	box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
}

.ordered {
	list-style-type: disc;
}

.quote {
	background-image: url('/src/Assets/AboutPage/recycle-bin.svg'),
		url('/src/Assets/AboutPage/ecology.svg');
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 100px;
}

.treasure-bg {
	background: rgba(8, 189, 70, 0.7);
	border: 1.5px solid rgba(255, 255, 255, 0.44);
	border-radius: 8px;
}

.accordion {
	background: rgba(154, 153, 153, 0.08);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
	.about-bg:before {
		content: '';
		position: absolute;
		bottom: 15px;
		right: 0;
		width: 768px;
		height: 494px;
		background: linear-gradient(90deg, #15ddad 48.21%, #7cf7a6 100%);
		border-radius: 33px;
		z-index: -1;
		box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
	}
}
@media screen and (min-width: 1020px) {
	.about-bg:before {
		content: '';
		position: absolute;
		bottom: 60px;
		right: 0;
		width: 590px;
		height: 494px;
		background: linear-gradient(90deg, #15ddad 48.21%, #7cf7a6 100%);
		border-radius: 33px;
		z-index: -1;
		box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
	}
}
@media screen and (min-width: 1201px) {
	.about-bg:before {
		content: '';
		position: absolute;
		bottom: 15px;
		right: 0;
		width: 668px;
		height: 494px;
		background: linear-gradient(90deg, #15ddad 48.21%, #7cf7a6 100%);
		border-radius: 33px;
		z-index: -1;
		box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
	}
}

@media screen and (min-width: 1440px) {
	.about-bg:before {
		content: '';
		position: absolute;
		bottom: 15px;
		right: 0;
		width: 768px;
		height: 494px;
		background: linear-gradient(90deg, #15ddad 48.21%, #7cf7a6 100%);
		border-radius: 33px;
		z-index: -1;
		box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.5);
	}
}
